--wallet_private_key=
--chain_rpc_node_url=
--contract_address=
--password_hash_alg=
--session_secret=
--mongo_username=
--mongo_password=
--mongo_host=
--redis_host=
--redis_port=
--redis_pass=
--redis_username=
--redis_db=
--allow_origins=
